html {
    height: 100vh;
    width: 1000px;
    margin-left: auto;
    margin-right: auto
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana;
    border-style:dashed;
}

header img { 
    border-style:dashed;
}

header nav {
    text-transform: uppercase;
    display: inline;
    border-style:dashed;
}

li { 
    display: inline;
    border-style:dashed;
}

main {
    border-style: dashed;
}

#flexbox {
    width: auto;
    border-style: solid;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

#flexbox1 {
    border-style: solid;
    border-color: red;
}

#flexbox2 {
    border-style: solid;
    border-color: green;
}

#flexbox3 {
    border-style: solid;
    border-color: blue;
}

#gridbox {
    width: auto;
    border-style: solid;
    display: inline-grid;
    
}

#gridbox1 {
    border-style: solid;
    border-color: darkgreen;
}

#gridbox2 {
    border-style: solid;
    border-color:chartreuse;
}
#gridbox3 {
    border-style: solid;
    border-color: orangered

}
#gridbox4 {
    border-style: solid;
    border-color:deeppink;
}
aside {
    
    padding-right: 15px;
    margin-right: 0px;
    position:relative;
    float:right;
    font-style: italic;
    background-color: lightgray;
}

section {
 border-style: dashed;
 border-color:slateblue;
}

footer { 
    border-style: dotted;
    border-color:magenta
}